*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    list-style: none;
}

body{
    background: linear-gradient(to right, rgba(112, 202, 212), rgba(155, 248, 244, 0.88));
    padding: 10px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.login{
    display: flex;
    flex-direction: column;
    color: white;   
    width: 500px;
}

.login h1{
    margin-top: 100px;
    font-size: 60px;
    display: flex;
    justify-content: center;
}

.login p{
    display: flex;
    justify-content: center;
    margin-bottom: 178px;
}

.login .login-form label{
    width: 100%;
    text-align: left;
    padding-left: 10px;
}

.login .login-form input{
    width: 100%;
    height: 54px;
    background: transparent;
    border: 2px solid white;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    color: white;
    font-weight: 500;
    background-color: rgba(212, 212, 212, 0.1);
    margin-bottom: 20px
}

.login .checkbox{
    display: flex;
    width: 100%;
    height: 30px;
}

.login .checkbox input{
    height: 25px;
    width: 25px;
    border: 1px solid white;
    background-color: rgba(212, 212, 212, 0.1);
}

.login .checkbox p{
    padding-left: 10px;
}

.login button{
    height: 54px;
    width: 100%;
    background: rgba(23, 48, 75, 0.62);
    border: 0;
    border-radius: 15px;
    color: white;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 50px;
}

.login .signup{
    text-align: left;
}

.gambar{
    display: flex;
    align-items: center;
    border: 2px solid white;
    border-radius: 15px;
    padding: 20px;
}

.gambar img{
    width: 100%;
    height: 100%;
}